extends layout



block content
  nav
    a(href="/")
      h5.mainTitle JAMES WOODFILL - ARCHIVE
    div.links
    a(href='http://woodfill.us' class="home")
      h5 WOODFILL.US
      div
        div.nav
          div.sidebar
            a.sidebarToggle
              div
              div
              div
            div.sidebarMenu
              div.sidebarclose CLOSE
              each channel in channels

                a(class="sidebarMenuLink" href='/channels/'+channel.id)=channel.title
                hr
  main
    each channel in channels
      if channel.subchannel
        .Grid
          a.GridBlock(
            href='/channels/' + channel.subchannel
            id=channel.title
          )
            img(src=channel.contents[0].image.square.url)
            div(class="titleText")
              h1= channel.title

      else if channel.contents[0].image
        .Grid
          a.GridBlock(
            href='/channels/' + channel.id
            id=channel.title
          )
            img(src=channel.contents[0].image.square.url)
            div(class="titleText")
              h1= channel.title

      else if channel.contents[1].image
        .Grid
          a.GridBlock(
            href='/channels/' + channel.id
            id=channel.title
          )
            img(src=channel.contents[1].image.square.url)
            div(class="titleText")
              h1= channel.title
      else
        .Grid
          a.GridBlock(
            href='/channels/' + channel.id
            id=channel.title
          )
            div(class="titleText")
              h1= channel.title
  div.footer
    h5.rights All rights reserved ©
