extends layout


block content
  nav
    h1.mainTitle JAMES WOODFILL - ARCHIVE
    h1.links
      a(href='woodfill.us' class="home") HOME
      div.sidebar
  .Block
    if image
      img(src=image.large.url, alt=title, title=title)

  .BlockMetadata
    .BlockMetadata__title
      = title

    if description_html
      .BlockMetadata__description
        != description_html

    if source
      .BlockMetadata__source
        | Source:
        = ' '
        a(href=source.url)
          | #{source.title} (#{source.url})
