extends layout


block content
  nav
    a(href="/")
      h5.mainTitle JAMES WOODFILL - ARCHIVE
    div.links
      a(href='woodfill.us' class="home")
        h5 HOME
  main.blockMain
    .Block
      if embed
        div!=embed.html
      else if image
        if attachment
          a(href=attachment.url)
            img(src=image.large.url, alt=title, title=title)

        else
          img(src=image.large.url, alt=title, title=title)


    .BlockMetadata
      .BlockMetadata__title
        = title

      if description_html
        .BlockMetadata__description
          != description_html

      if source
        .BlockMetadata__source
          a(href=source.url)
            | #{source.title} (#{source.url})
      if attachment
        .BlockMetadata__source
          a(href=attachment.url)
            | #{attachment.file_name} (#{attachment.url})
